In [1]:
import requests
from langchain import hub
from langchain_groq import ChatGroq
from langchain_community.utilities import SQLDatabase
from pprint import pprint

In [2]:
def db_read_test():
    db = SQLDatabase.from_uri("sqlite:///./db/Chinook.db")
    print(db.dialect)
    print(db.get_usable_table_names())
    print(db.run("SELECT * FROM Artist LIMIT 10;"))

db_read_test()

sqlite
['Album', 'Artist', 'Customer', 'Employee', 'Genre', 'Invoice', 'InvoiceLine', 'MediaType', 'Playlist', 'PlaylistTrack', 'Track']
[(1, 'AC/DC'), (2, 'Accept'), (3, 'Aerosmith'), (4, 'Alanis Morissette'), (5, 'Alice In Chains'), (6, 'Antônio Carlos Jobim'), (7, 'Apocalyptica'), (8, 'Audioslave'), (9, 'BackBeat'), (10, 'Billy Cobham')]

In [3]:
from langchain_community.agent_toolkits.sql.toolkit import SQLDatabaseToolkit
from langgraph.prebuilt import create_react_agent
from langchain_ollama.chat_models import ChatOllama

In [4]:
def sql_agent(user_input:str):
    db = SQLDatabase.from_uri("sqlite:///./db/Chinook.db")
    llm = ChatGroq(temperature=0, model_name= "llama-3.2-90b-text-preview")
    # llm = ChatOllama(base_url="http://localhost:11434", model="llama3.2:latest")

    toolkit = SQLDatabaseToolkit(db=db, llm=llm)
    prompt_template = hub.pull("langchain-ai/sql-agent-system-prompt")
    system_message = prompt_template.format(dialect="SQLite", top_k=5)
    agent_executor = create_react_agent(
        llm, 
        toolkit.get_tools(), 
        state_modifier=system_message)
    events = agent_executor.stream(
        {"messages": [("user", user_input)]},
        stream_mode="values",
        debug=True)
    
    all_results = []
    for event in events:
        all_results.append(event["messages"][-1])

    return all_results

In [9]:
prompt_template = hub.pull("langchain-ai/sql-agent-system-prompt")
print(prompt_template)

input_variables=['dialect', 'top_k'] input_types={} partial_variables={} metadata={'lc_hub_owner': 'langchain-ai', 'lc_hub_repo': 'sql-agent-system-prompt', 'lc_hub_commit_hash': '31156d5fe3945188ee172151b086712d22b8c70f8f1c0505f5457594424ed352'} messages=[SystemMessagePromptTemplate(prompt=PromptTemplate(input_variables=['dialect', 'top_k'], input_types={}, partial_variables={}, template='You are an agent designed to interact with a SQL database.\nGiven an input question, create a syntactically correct {dialect} query to run, then look at the results of the query and return the answer.\nUnless the user specifies a specific number of examples they wish to obtain, always limit your query to at most {top_k} results.\nYou can order the results by a relevant column to return the most interesting examples in the database.\nNever query for all the columns from a specific table, only ask for the relevant columns given the question.\nYou have access to tools for interacting with the database.\nOnly use the below tools. Only use the information returned by the below tools to construct your final answer.\nYou MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.\n\nDO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.\n\nTo start you should ALWAYS look at the tables in the database to see what you can query.\nDo NOT skip this step.\nThen you should query the schema of the most relevant tables.'), additional_kwargs={})]

In [5]:
result = sql_agent("2009년에 가장 많이 팔린 장르는 무엇이며, 해당 장르의 총 매출액은 얼마인가요?")
pprint(result)

[-1:checkpoint] State at the end of step -1:
{'messages': []}
[0:tasks] Starting step 0 with 1 task:
- __start__ -> {'messages': [('user', '2009년에 가장 많이 팔린 장르는 무엇이며, 해당 장르의 총 매출액은 얼마인가요?')]}
[0:writes] Finished step 0 with writes to 1 channel:
- messages -> [('user', '2009년에 가장 많이 팔린 장르는 무엇이며, 해당 장르의 총 매출액은 얼마인가요?')]
[0:checkpoint] State at the end of step 0:
{'messages': [HumanMessage(content='2009년에 가장 많이 팔린 장르는 무엇이며, 해당 장르의 총 매출액은 얼마인가요?', additional_kwargs={}, response_metadata={}, id='52e4680b-3fed-4b51-af25-f6a87fc7e421')]}
[1:tasks] Starting step 1 with 1 task:
- agent -> {'is_last_step': False,
 'messages': [HumanMessage(content='2009년에 가장 많이 팔린 장르는 무엇이며, 해당 장르의 총 매출액은 얼마인가요?', additional_kwargs={}, response_metadata={}, id='52e4680b-3fed-4b51-af25-f6a87fc7e421')]}
[1:writes] Finished step 1 with writes to 1 channel:
- messages -> [AIMessage(content='', additional_kwargs={'tool_calls': [{'id': 'call_xcb5', 'function': {'arguments': '{"tool_input": ""}', 'name': 'sql_db_list_tables'}, 'type': 'function'}]}, response_metadata={'token_usage': {'completion_tokens': 16, 'prompt_tokens': 980, 'total_tokens': 996, 'completion_time': 0.064448674, 'prompt_time': 0.279708485, 'queue_time': 6.911365876, 'total_time': 0.344157159}, 'model_name': 'llama-3.2-90b-text-preview', 'system_fingerprint': 'fp_b6828be2c9', 'finish_reason': 'tool_calls', 'logprobs': None}, id='run-200d2e89-04f2-4d97-8f88-1c394a8a99df-0', tool_calls=[{'name': 'sql_db_list_tables', 'args': {'tool_input': ''}, 'id': 'call_xcb5', 'type': 'tool_call'}], usage_metadata={'input_tokens': 980, 'output_tokens': 16, 'total_tokens': 996})]
[1:checkpoint] State at the end of step 1:
{'messages': [HumanMessage(content='2009년에 가장 많이 팔린 장르는 무엇이며, 해당 장르의 총 매출액은 얼마인가요?', additional_kwargs={}, response_metadata={}, id='52e4680b-3fed-4b51-af25-f6a87fc7e421'),
              AIMessage(content='', additional_kwargs={'tool_calls': [{'id': 'call_xcb5', 'function': {'arguments': '{"tool_input": ""}', 'name': 'sql_db_list_tables'}, 'type': 'function'}]}, response_metadata={'token_usage': {'completion_tokens': 16, 'prompt_tokens': 980, 'total_tokens': 996, 'completion_time': 0.064448674, 'prompt_time': 0.279708485, 'queue_time': 6.911365876, 'total_time': 0.344157159}, 'model_name': 'llama-3.2-90b-text-preview', 'system_fingerprint': 'fp_b6828be2c9', 'finish_reason': 'tool_calls', 'logprobs': None}, id='run-200d2e89-04f2-4d97-8f88-1c394a8a99df-0', tool_calls=[{'name': 'sql_db_list_tables', 'args': {'tool_input': ''}, 'id': 'call_xcb5', 'type': 'tool_call'}], usage_metadata={'input_tokens': 980, 'output_tokens': 16, 'total_tokens': 996})]}
[2:tasks] Starting step 2 with 1 task:
- tools -> {'is_last_step': False,
 'messages': [HumanMessage(content='2009년에 가장 많이 팔린 장르는 무엇이며, 해당 장르의 총 매출액은 얼마인가요?', additional_kwargs={}, response_metadata={}, id='52e4680b-3fed-4b51-af25-f6a87fc7e421'),
              AIMessage(content='', additional_kwargs={'tool_calls': [{'id': 'call_xcb5', 'function': {'arguments': '{"tool_input": ""}', 'name': 'sql_db_list_tables'}, 'type': 'function'}]}, response_metadata={'token_usage': {'completion_tokens': 16, 'prompt_tokens': 980, 'total_tokens': 996, 'completion_time': 0.064448674, 'prompt_time': 0.279708485, 'queue_time': 6.911365876, 'total_time': 0.344157159}, 'model_name': 'llama-3.2-90b-text-preview', 'system_fingerprint': 'fp_b6828be2c9', 'finish_reason': 'tool_calls', 'logprobs': None}, id='run-200d2e89-04f2-4d97-8f88-1c394a8a99df-0', tool_calls=[{'name': 'sql_db_list_tables', 'args': {'tool_input': ''}, 'id': 'call_xcb5', 'type': 'tool_call'}], usage_metadata={'input_tokens': 980, 'output_tokens': 16, 'total_tokens': 996})]}
[2:writes] Finished step 2 with writes to 1 channel:
- messages -> [ToolMessage(content='Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track', name='sql_db_list_tables', tool_call_id='call_xcb5')]
[2:checkpoint] State at the end of step 2:
{'messages': [HumanMessage(content='2009년에 가장 많이 팔린 장르는 무엇이며, 해당 장르의 총 매출액은 얼마인가요?', additional_kwargs={}, response_metadata={}, id='52e4680b-3fed-4b51-af25-f6a87fc7e421'),
              AIMessage(content='', additional_kwargs={'tool_calls': [{'id': 'call_xcb5', 'function': {'arguments': '{"tool_input": ""}', 'name': 'sql_db_list_tables'}, 'type': 'function'}]}, response_metadata={'token_usage': {'completion_tokens': 16, 'prompt_tokens': 980, 'total_tokens': 996, 'completion_time': 0.064448674, 'prompt_time': 0.279708485, 'queue_time': 6.911365876, 'total_time': 0.344157159}, 'model_name': 'llama-3.2-90b-text-preview', 'system_fingerprint': 'fp_b6828be2c9', 'finish_reason': 'tool_calls', 'logprobs': None}, id='run-200d2e89-04f2-4d97-8f88-1c394a8a99df-0', tool_calls=[{'name': 'sql_db_list_tables', 'args': {'tool_input': ''}, 'id': 'call_xcb5', 'type': 'tool_call'}], usage_metadata={'input_tokens': 980, 'output_tokens': 16, 'total_tokens': 996}),
              ToolMessage(content='Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track', name='sql_db_list_tables', id='8913bb12-dc3b-4c3a-85fb-cddb404000ec', tool_call_id='call_xcb5')]}
[3:tasks] Starting step 3 with 1 task:
- agent -> {'is_last_step': False,
 'messages': [HumanMessage(content='2009년에 가장 많이 팔린 장르는 무엇이며, 해당 장르의 총 매출액은 얼마인가요?', additional_kwargs={}, response_metadata={}, id='52e4680b-3fed-4b51-af25-f6a87fc7e421'),
              AIMessage(content='', additional_kwargs={'tool_calls': [{'id': 'call_xcb5', 'function': {'arguments': '{"tool_input": ""}', 'name': 'sql_db_list_tables'}, 'type': 'function'}]}, response_metadata={'token_usage': {'completion_tokens': 16, 'prompt_tokens': 980, 'total_tokens': 996, 'completion_time': 0.064448674, 'prompt_time': 0.279708485, 'queue_time': 6.911365876, 'total_time': 0.344157159}, 'model_name': 'llama-3.2-90b-text-preview', 'system_fingerprint': 'fp_b6828be2c9', 'finish_reason': 'tool_calls', 'logprobs': None}, id='run-200d2e89-04f2-4d97-8f88-1c394a8a99df-0', tool_calls=[{'name': 'sql_db_list_tables', 'args': {'tool_input': ''}, 'id': 'call_xcb5', 'type': 'tool_call'}], usage_metadata={'input_tokens': 980, 'output_tokens': 16, 'total_tokens': 996}),
              ToolMessage(content='Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track', name='sql_db_list_tables', id='8913bb12-dc3b-4c3a-85fb-cddb404000ec', tool_call_id='call_xcb5')]}
[3:writes] Finished step 3 with writes to 1 channel:
- messages -> [AIMessage(content='', additional_kwargs={'tool_calls': [{'id': 'call_yvdh', 'function': {'arguments': '{"table_names": "Genre, InvoiceLine, Invoice, Track, Album, Artist, MediaType, Playlist, PlaylistTrack, Customer, Employee"}', 'name': 'sql_db_schema'}, 'type': 'function'}]}, response_metadata={'token_usage': {'completion_tokens': 39, 'prompt_tokens': 1029, 'total_tokens': 1068, 'completion_time': 0.157479062, 'prompt_time': 0.304664811, 'queue_time': 0.21167843200000003, 'total_time': 0.462143873}, 'model_name': 'llama-3.2-90b-text-preview', 'system_fingerprint': 'fp_b6828be2c9', 'finish_reason': 'tool_calls', 'logprobs': None}, id='run-de600aa9-cb7c-4309-8eee-8e48d2351119-0', tool_calls=[{'name': 'sql_db_schema', 'args': {'table_names': 'Genre, InvoiceLine, Invoice, Track, Album, Artist, MediaType, Playlist, PlaylistTrack, Customer, Employee'}, 'id': 'call_yvdh', 'type': 'tool_call'}], usage_metadata={'input_tokens': 1029, 'output_tokens': 39, 'total_tokens': 1068})]
[3:checkpoint] State at the end of step 3:
{'messages': [HumanMessage(content='2009년에 가장 많이 팔린 장르는 무엇이며, 해당 장르의 총 매출액은 얼마인가요?', additional_kwargs={}, response_metadata={}, id='52e4680b-3fed-4b51-af25-f6a87fc7e421'),
              AIMessage(content='', additional_kwargs={'tool_calls': [{'id': 'call_xcb5', 'function': {'arguments': '{"tool_input": ""}', 'name': 'sql_db_list_tables'}, 'type': 'function'}]}, response_metadata={'token_usage': {'completion_tokens': 16, 'prompt_tokens': 980, 'total_tokens': 996, 'completion_time': 0.064448674, 'prompt_time': 0.279708485, 'queue_time': 6.911365876, 'total_time': 0.344157159}, 'model_name': 'llama-3.2-90b-text-preview', 'system_fingerprint': 'fp_b6828be2c9', 'finish_reason': 'tool_calls', 'logprobs': None}, id='run-200d2e89-04f2-4d97-8f88-1c394a8a99df-0', tool_calls=[{'name': 'sql_db_list_tables', 'args': {'tool_input': ''}, 'id': 'call_xcb5', 'type': 'tool_call'}], usage_metadata={'input_tokens': 980, 'output_tokens': 16, 'total_tokens': 996}),
              ToolMessage(content='Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track', name='sql_db_list_tables', id='8913bb12-dc3b-4c3a-85fb-cddb404000ec', tool_call_id='call_xcb5'),
              AIMessage(content='', additional_kwargs={'tool_calls': [{'id': 'call_yvdh', 'function': {'arguments': '{"table_names": "Genre, InvoiceLine, Invoice, Track, Album, Artist, MediaType, Playlist, PlaylistTrack, Customer, Employee"}', 'name': 'sql_db_schema'}, 'type': 'function'}]}, response_metadata={'token_usage': {'completion_tokens': 39, 'prompt_tokens': 1029, 'total_tokens': 1068, 'completion_time': 0.157479062, 'prompt_time': 0.304664811, 'queue_time': 0.21167843200000003, 'total_time': 0.462143873}, 'model_name': 'llama-3.2-90b-text-preview', 'system_fingerprint': 'fp_b6828be2c9', 'finish_reason': 'tool_calls', 'logprobs': None}, id='run-de600aa9-cb7c-4309-8eee-8e48d2351119-0', tool_calls=[{'name': 'sql_db_schema', 'args': {'table_names': 'Genre, InvoiceLine, Invoice, Track, Album, Artist, MediaType, Playlist, PlaylistTrack, Customer, Employee'}, 'id': 'call_yvdh', 'type': 'tool_call'}], usage_metadata={'input_tokens': 1029, 'output_tokens': 39, 'total_tokens': 1068})]}
[4:tasks] Starting step 4 with 1 task:
- tools -> {'is_last_step': False,
 'messages': [HumanMessage(content='2009년에 가장 많이 팔린 장르는 무엇이며, 해당 장르의 총 매출액은 얼마인가요?', additional_kwargs={}, response_metadata={}, id='52e4680b-3fed-4b51-af25-f6a87fc7e421'),
              AIMessage(content='', additional_kwargs={'tool_calls': [{'id': 'call_xcb5', 'function': {'arguments': '{"tool_input": ""}', 'name': 'sql_db_list_tables'}, 'type': 'function'}]}, response_metadata={'token_usage': {'completion_tokens': 16, 'prompt_tokens': 980, 'total_tokens': 996, 'completion_time': 0.064448674, 'prompt_time': 0.279708485, 'queue_time': 6.911365876, 'total_time': 0.344157159}, 'model_name': 'llama-3.2-90b-text-preview', 'system_fingerprint': 'fp_b6828be2c9', 'finish_reason': 'tool_calls', 'logprobs': None}, id='run-200d2e89-04f2-4d97-8f88-1c394a8a99df-0', tool_calls=[{'name': 'sql_db_list_tables', 'args': {'tool_input': ''}, 'id': 'call_xcb5', 'type': 'tool_call'}], usage_metadata={'input_tokens': 980, 'output_tokens': 16, 'total_tokens': 996}),
              ToolMessage(content='Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track', name='sql_db_list_tables', id='8913bb12-dc3b-4c3a-85fb-cddb404000ec', tool_call_id='call_xcb5'),
              AIMessage(content='', additional_kwargs={'tool_calls': [{'id': 'call_yvdh', 'function': {'arguments': '{"table_names": "Genre, InvoiceLine, Invoice, Track, Album, Artist, MediaType, Playlist, PlaylistTrack, Customer, Employee"}', 'name': 'sql_db_schema'}, 'type': 'function'}]}, response_metadata={'token_usage': {'completion_tokens': 39, 'prompt_tokens': 1029, 'total_tokens': 1068, 'completion_time': 0.157479062, 'prompt_time': 0.304664811, 'queue_time': 0.21167843200000003, 'total_time': 0.462143873}, 'model_name': 'llama-3.2-90b-text-preview', 'system_fingerprint': 'fp_b6828be2c9', 'finish_reason': 'tool_calls', 'logprobs': None}, id='run-de600aa9-cb7c-4309-8eee-8e48d2351119-0', tool_calls=[{'name': 'sql_db_schema', 'args': {'table_names': 'Genre, InvoiceLine, Invoice, Track, Album, Artist, MediaType, Playlist, PlaylistTrack, Customer, Employee'}, 'id': 'call_yvdh', 'type': 'tool_call'}], usage_metadata={'input_tokens': 1029, 'output_tokens': 39, 'total_tokens': 1068})]}
[4:writes] Finished step 4 with writes to 1 channel:
- messages -> [ToolMessage(content='\nCREATE TABLE "Album" (\n\t"AlbumId" INTEGER NOT NULL, \n\t"Title" NVARCHAR(160) NOT NULL, \n\t"ArtistId" INTEGER NOT NULL, \n\tPRIMARY KEY ("AlbumId"), \n\tFOREIGN KEY("ArtistId") REFERENCES "Artist" ("ArtistId")\n)\n\n/*\n3 rows from Album table:\nAlbumId\tTitle\tArtistId\n1\tFor Those About To Rock We Salute You\t1\n2\tBalls to the Wall\t2\n3\tRestless and Wild\t2\n*/\n\n\nCREATE TABLE "Artist" (\n\t"ArtistId" INTEGER NOT NULL, \n\t"Name" NVARCHAR(120), \n\tPRIMARY KEY ("ArtistId")\n)\n\n/*\n3 rows from Artist table:\nArtistId\tName\n1\tAC/DC\n2\tAccept\n3\tAerosmith\n*/\n\n\nCREATE TABLE "Customer" (\n\t"CustomerId" INTEGER NOT NULL, \n\t"FirstName" NVARCHAR(40) NOT NULL, \n\t"LastName" NVARCHAR(20) NOT NULL, \n\t"Company" NVARCHAR(80), \n\t"Address" NVARCHAR(70), \n\t"City" NVARCHAR(40), \n\t"State" NVARCHAR(40), \n\t"Country" NVARCHAR(40), \n\t"PostalCode" NVARCHAR(10), \n\t"Phone" NVARCHAR(24), \n\t"Fax" NVARCHAR(24), \n\t"Email" NVARCHAR(60) NOT NULL, \n\t"SupportRepId" INTEGER, \n\tPRIMARY KEY ("CustomerId"), \n\tFOREIGN KEY("SupportRepId") REFERENCES "Employee" ("EmployeeId")\n)\n\n/*\n3 rows from Customer table:\nCustomerId\tFirstName\tLastName\tCompany\tAddress\tCity\tState\tCountry\tPostalCode\tPhone\tFax\tEmail\tSupportRepId\n1\tLuís\tGonçalves\tEmbraer - Empresa Brasileira de Aeronáutica S.A.\tAv. Brigadeiro Faria Lima, 2170\tSão José dos Campos\tSP\tBrazil\t12227-000\t+55 (12) 3923-5555\t+55 (12) 3923-5566\tluisg@embraer.com.br\t3\n2\tLeonie\tKöhler\tNone\tTheodor-Heuss-Straße 34\tStuttgart\tNone\tGermany\t70174\t+49 0711 2842222\tNone\tleonekohler@surfeu.de\t5\n3\tFrançois\tTremblay\tNone\t1498 rue Bélanger\tMontréal\tQC\tCanada\tH2G 1A7\t+1 (514) 721-4711\tNone\tftremblay@gmail.com\t3\n*/\n\n\nCREATE TABLE "Employee" (\n\t"EmployeeId" INTEGER NOT NULL, \n\t"LastName" NVARCHAR(20) NOT NULL, \n\t"FirstName" NVARCHAR(20) NOT NULL, \n\t"Title" NVARCHAR(30), \n\t"ReportsTo" INTEGER, \n\t"BirthDate" DATETIME, \n\t"HireDate" DATETIME, \n\t"Address" NVARCHAR(70), \n\t"City" NVARCHAR(40), \n\t"State" NVARCHAR(40), \n\t"Country" NVARCHAR(40), \n\t"PostalCode" NVARCHAR(10), \n\t"Phone" NVARCHAR(24), \n\t"Fax" NVARCHAR(24), \n\t"Email" NVARCHAR(60), \n\tPRIMARY KEY ("EmployeeId"), \n\tFOREIGN KEY("ReportsTo") REFERENCES "Employee" ("EmployeeId")\n)\n\n/*\n3 rows from Employee table:\nEmployeeId\tLastName\tFirstName\tTitle\tReportsTo\tBirthDate\tHireDate\tAddress\tCity\tState\tCountry\tPostalCode\tPhone\tFax\tEmail\n1\tAdams\tAndrew\tGeneral Manager\tNone\t1962-02-18 00:00:00\t2002-08-14 00:00:00\t11120 Jasper Ave NW\tEdmonton\tAB\tCanada\tT5K 2N1\t+1 (780) 428-9482\t+1 (780) 428-3457\tandrew@chinookcorp.com\n2\tEdwards\tNancy\tSales Manager\t1\t1958-12-08 00:00:00\t2002-05-01 00:00:00\t825 8 Ave SW\tCalgary\tAB\tCanada\tT2P 2T3\t+1 (403) 262-3443\t+1 (403) 262-3322\tnancy@chinookcorp.com\n3\tPeacock\tJane\tSales Support Agent\t2\t1973-08-29 00:00:00\t2002-04-01 00:00:00\t1111 6 Ave SW\tCalgary\tAB\tCanada\tT2P 5M5\t+1 (403) 262-3443\t+1 (403) 262-6712\tjane@chinookcorp.com\n*/\n\n\nCREATE TABLE "Genre" (\n\t"GenreId" INTEGER NOT NULL, \n\t"Name" NVARCHAR(120), \n\tPRIMARY KEY ("GenreId")\n)\n\n/*\n3 rows from Genre table:\nGenreId\tName\n1\tRock\n2\tJazz\n3\tMetal\n*/\n\n\nCREATE TABLE "Invoice" (\n\t"InvoiceId" INTEGER NOT NULL, \n\t"CustomerId" INTEGER NOT NULL, \n\t"InvoiceDate" DATETIME NOT NULL, \n\t"BillingAddress" NVARCHAR(70), \n\t"BillingCity" NVARCHAR(40), \n\t"BillingState" NVARCHAR(40), \n\t"BillingCountry" NVARCHAR(40), \n\t"BillingPostalCode" NVARCHAR(10), \n\t"Total" NUMERIC(10, 2) NOT NULL, \n\tPRIMARY KEY ("InvoiceId"), \n\tFOREIGN KEY("CustomerId") REFERENCES "Customer" ("CustomerId")\n)\n\n/*\n3 rows from Invoice table:\nInvoiceId\tCustomerId\tInvoiceDate\tBillingAddress\tBillingCity\tBillingState\tBillingCountry\tBillingPostalCode\tTotal\n1\t2\t2009-01-01 00:00:00\tTheodor-Heuss-Straße 34\tStuttgart\tNone\tGermany\t70174\t1.98\n2\t4\t2009-01-02 00:00:00\tUllevålsveien 14\tOslo\tNone\tNorway\t0171\t3.96\n3\t8\t2009-01-03 00:00:00\tGrétrystraat 63\tBrussels\tNone\tBelgium\t1000\t5.94\n*/\n\n\nCREATE TABLE "InvoiceLine" (\n\t"InvoiceLineId" INTEGER NOT NULL, \n\t"InvoiceId" INTEGER NOT NULL, \n\t"TrackId" INTEGER NOT NULL, \n\t"UnitPrice" NUMERIC(10, 2) NOT NULL, \n\t"Quantity" INTEGER NOT NULL, \n\tPRIMARY KEY ("InvoiceLineId"), \n\tFOREIGN KEY("TrackId") REFERENCES "Track" ("TrackId"), \n\tFOREIGN KEY("InvoiceId") REFERENCES "Invoice" ("InvoiceId")\n)\n\n/*\n3 rows from InvoiceLine table:\nInvoiceLineId\tInvoiceId\tTrackId\tUnitPrice\tQuantity\n1\t1\t2\t0.99\t1\n2\t1\t4\t0.99\t1\n3\t2\t6\t0.99\t1\n*/\n\n\nCREATE TABLE "MediaType" (\n\t"MediaTypeId" INTEGER NOT NULL, \n\t"Name" NVARCHAR(120), \n\tPRIMARY KEY ("MediaTypeId")\n)\n\n/*\n3 rows from MediaType table:\nMediaTypeId\tName\n1\tMPEG audio file\n2\tProtected AAC audio file\n3\tProtected MPEG-4 video file\n*/\n\n\nCREATE TABLE "Playlist" (\n\t"PlaylistId" INTEGER NOT NULL, \n\t"Name" NVARCHAR(120), \n\tPRIMARY KEY ("PlaylistId")\n)\n\n/*\n3 rows from Playlist table:\nPlaylistId\tName\n1\tMusic\n2\tMovies\n3\tTV Shows\n*/\n\n\nCREATE TABLE "PlaylistTrack" (\n\t"PlaylistId" INTEGER NOT NULL, \n\t"TrackId" INTEGER NOT NULL, \n\tPRIMARY KEY ("PlaylistId", "TrackId"), \n\tFOREIGN KEY("TrackId") REFERENCES "Track" ("TrackId"), \n\tFOREIGN KEY("PlaylistId") REFERENCES "Playlist" ("PlaylistId")\n)\n\n/*\n3 rows from PlaylistTrack table:\nPlaylistId\tTrackId\n1\t3402\n1\t3389\n1\t3390\n*/\n\n\nCREATE TABLE "Track" (\n\t"TrackId" INTEGER NOT NULL, \n\t"Name" NVARCHAR(200) NOT NULL, \n\t"AlbumId" INTEGER, \n\t"MediaTypeId" INTEGER NOT NULL, \n\t"GenreId" INTEGER, \n\t"Composer" NVARCHAR(220), \n\t"Milliseconds" INTEGER NOT NULL, \n\t"Bytes" INTEGER, \n\t"UnitPrice" NUMERIC(10, 2) NOT NULL, \n\tPRIMARY KEY ("TrackId"), \n\tFOREIGN KEY("MediaTypeId") REFERENCES "MediaType" ("MediaTypeId"), \n\tFOREIGN KEY("GenreId") REFERENCES "Genre" ("GenreId"), \n\tFOREIGN KEY("AlbumId") REFERENCES "Album" ("AlbumId")\n)\n\n/*\n3 rows from Track table:\nTrackId\tName\tAlbumId\tMediaTypeId\tGenreId\tComposer\tMilliseconds\tBytes\tUnitPrice\n1\tFor Those About To Rock (We Salute You)\t1\t1\t1\tAngus Young, Malcolm Young, Brian Johnson\t343719\t11170334\t0.99\n2\tBalls to the Wall\t2\t2\t1\tNone\t342562\t5510424\t0.99\n3\tFast As a Shark\t3\t2\t1\tF. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman\t230619\t3990994\t0.99\n*/', name='sql_db_schema', tool_call_id='call_yvdh')]
[4:checkpoint] State at the end of step 4:
{'messages': [HumanMessage(content='2009년에 가장 많이 팔린 장르는 무엇이며, 해당 장르의 총 매출액은 얼마인가요?', additional_kwargs={}, response_metadata={}, id='52e4680b-3fed-4b51-af25-f6a87fc7e421'),
              AIMessage(content='', additional_kwargs={'tool_calls': [{'id': 'call_xcb5', 'function': {'arguments': '{"tool_input": ""}', 'name': 'sql_db_list_tables'}, 'type': 'function'}]}, response_metadata={'token_usage': {'completion_tokens': 16, 'prompt_tokens': 980, 'total_tokens': 996, 'completion_time': 0.064448674, 'prompt_time': 0.279708485, 'queue_time': 6.911365876, 'total_time': 0.344157159}, 'model_name': 'llama-3.2-90b-text-preview', 'system_fingerprint': 'fp_b6828be2c9', 'finish_reason': 'tool_calls', 'logprobs': None}, id='run-200d2e89-04f2-4d97-8f88-1c394a8a99df-0', tool_calls=[{'name': 'sql_db_list_tables', 'args': {'tool_input': ''}, 'id': 'call_xcb5', 'type': 'tool_call'}], usage_metadata={'input_tokens': 980, 'output_tokens': 16, 'total_tokens': 996}),
              ToolMessage(content='Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track', name='sql_db_list_tables', id='8913bb12-dc3b-4c3a-85fb-cddb404000ec', tool_call_id='call_xcb5'),

KeyboardInterrupt: